<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title></title>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" /> -->
    <link rel="stylesheet" href="/angular-material/angular-material.css">
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-aria/angular-aria.js"></script> 
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-material/angular-material.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
   
    <script src="/angular-file-upload/dist/angular-file-upload.js"></script>
    <script src="/main.js"></script>
    <script src="angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css">

 

</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" ui-view></div>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="/files/js/jquery.1.11.1.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- Other JS Files -->
    <script type="text/javascript" src="/files/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/files/js/jasny-bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="/files/js/SmoothScroll.js"></script> -->
    <!-- <script type="text/javascript" src="/files/js/nivo-lightbox.js"></script> -->

    <!-- Contact page-->
    <!-- <script type="text/javascript" src="/files/js/jqBootstrapValidation.js"></script> -->
    <!-- <script type="text/javascript" src="/files/js/contact.js"></script> -->

    <!-- Custom Javascripts
    ================================================== -->
</body>
</html>
