<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title></title>
    <!-- <script src="https://use.typekit.net/xhb4sfu.js"></script> -->
    <!-- <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" /> -->
    <link rel="stylesheet" href="/angular-material/angular-material.css">
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-deckgrid/angular-deckgrid.js"></script>
    <script src="/angular-aria/angular-aria.js"></script> 
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-material/angular-material.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
   
    <script src="/angular-file-upload/dist/angular-file-upload.js"></script>
    <script src="/main.js"></script>
    <script src="angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
    <link rel="stylesheet" href="angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css">

 

</head>
<body ng-app="ZTF">
    <navbar></navbar>
    <div id="main" ui-view></div>


</body>
</html>
