* {
  box-sizing: border-box; }

#main {
  height: 100%; }

.modal-dialog {
  margin-top: 170px; }

#header {
  padding: 10px 0;
  padding-left: 50px;
  margin-bottom: 30px;
  height: 60px;
  background: black; }

#login {
  width: 25%;
  float: right;
  color: white;
  line-height: 40px;
  height: 40px;
  padding: 0 20px; }

#login .message {
  font-style: italic;
  display: inline; }

#login .name {
  display: inline; }

#navbar {
  width: 50%;
  float: left; }

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#navbar li {
  display: block;
  float: left;
  line-height: 40px;
  height: 40px;
  padding: 0 20px;
  margin: 0 10px;
  background: green;
  color: white; }

.linkHover {
  opacity: 0.8;
  cursor: pointer; }

.activeLink {
  background-color: white !important;
  color: black !important;
  border-bottom: 1px solid black; }

#banner {
  height: 100%; }

#login-form {
  width: 60%;
  margin: 0 auto; }

.userClass {
  width: 100px; }

.top-buffer {
  margin-top: 20px; }

.bottom-buffer {
  margin-bottom: 20px; }

.buffer {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

#chat .text-wrapper {
  background-color: white;
  box-shadow: 5px 5px 10px #d1C5B7;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  min-height: 70%;
  padding-bottom: 20px;
  padding: 10px 30px; }

#chat .page-header {
  margin-top: 20px; }
  #chat .page-header h2 {
    color: #735D41; }
  #chat .page-header small {
    color: #735D41; }

#chat .user-interact {
  margin: 10px 0; }

#chat .chat-container {
  padding: 20px 30px;
  margin: 0 auto; }

#chat .text-container {
  overflow-y: auto;
  min-height: 200px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  border-sytle: solid;
  border-width: 1px;
  border-color: white;
  clear: both; }

#chat .bubble-box {
  width: auto;
  padding: 0px;
  padding-bottom: 3px;
  margin: 10px;
  border-bottom-style: groove;
  border-width: 1px; }

#chat .text-list {
  padding: 0px;
  max-height: 450px;
  overflow: scroll; }

#chatBubbles p.user-tag {
  color: #735D41;
  display: block;
  margin: 0px;
  padding-top: 16px;
  font-size: 1em; }

#chatBubbles p.user-tag.right {
  float: right;
  margin-left: 15px; }

#chatBubbles p.user-tag.left {
  float: left;
  margin-right: 15px; }

#chatBubbles p.chat-box-right {
  display: inline-block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

#chatBubbles .chat-box-right {
  position: relative;
  padding: 10px 30px;
  margin: 0em 0 0em;
  color: white;
  background: #075698;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background: -moz-linear-gradient(#2e88c4, #075698);
  background: -o-linear-gradient(#2e88c4, #075698);
  background: linear-gradient(#2e88c4, #075698);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

#chatBubbles .chat-box-right.left {
  margin-left: 40px;
  background: #0193B7; }

#chatBubbles .chat-box-right.right {
  margin-right: 40px;
  background: #0193B7;
  float: right; }

#chatBubbles .chat-box-right:after {
  content: "";
  position: absolute;
  bottom: -20px;
  /* value = - border-top-width - border-bottom-width */
  left: 50px;
  /* controls horizontal position */
  border-width: 20px 0 0 20px;
  /* vary these values to change the angle of the vertex */
  border-style: solid;
  border-color: #856941 transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0; }

#chatBubbles .chat-box-right.left:after {
  top: 16px;
  left: -40px;
  /* value = - border-left-width - border-right-width */
  bottom: auto;
  border-width: 15px 40px 0 0;
  /* vary these values to change the angle of the vertex */
  border-color: transparent #0193B7; }

#chatBubbles .chat-box-right.right:after {
  top: 16px;
  right: -40px;
  /* value = - border-left-width - border-right-width */
  bottom: auto;
  left: auto;
  border-width: 15px 0 0 40px;
  /* vary these values to change the angle of the vertex */
  border-color: transparent #0193B7; }

#calendar .calendar-style {
  border: 0px;
  width: 100%;
  padding: 10px 50px;
  height: 800px;
  frameborder: 0px;
  scrolling: no;
  margin: 0 auto; }

.map-wrapper {
  background-color: grey; }

#albumEditPage {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 10px; }

#albumEdit {
  width: 30%;
  min-width: 200px;
  height: 300px;
  padding: 5px;
  margin: 5px; }

#imageThumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 10px; }

#imageBox {
  height: 250px;
  width: 250px; }

#imageBox img {
  width: 100%;
  height: auto; }

.image-wrapper {
  position: relative; }

.image-wrapper .glyphicon {
  position: absolute;
  color: white;
  font-size: 1.5em;
  top: 10px;
  left: 10px; }

.image-wrapper .glyphicon:hover {
  color: red; }

#simpleAlbums {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 10px; }

#simpleAlbum {
  height: 200px;
  width: 300px;
  margin: 5px; }

#simpleAlbum img {
  width: 100%; }

#simpleAlbum img:hover {
  opacity: 0.8; }

#photos .cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 500px;
  height: 350px; }

#photos form .progress {
  line-height: 15px; }

#photos .progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC; }

#photos .progress div {
  font-size: smaller;
  background: orange;
  width: 0; }

#photos .well {
  color: #0193B7; }

#userPhotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

#userPhotos div {
  width: 300px;
  height: 200px;
  margin: 5px; }

#userPhotos div img {
  width: 100%; }

#userPhotos div img:hover {
  opacity: 0.5; }

#galleryContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.gallery-box {
  min-height: 400px;
  background: grey;
  margin: 20px 5px; }

.gallery-box img {
  height: 200px; }

.photo-data {
  padding: 5px;
  background: white; }

.gallery-image {
  height: 100%; }

#dialog {
  height: 300px;
  width: 300px;
  text-align: center;
  line-height: 300px;
  font-size: 2em;
  border: 2px solid grey; }

#signupPage {
  width: 75%;
  margin: 20px auto; }
