.zt-content-box {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 3px;
	background: #fff;
	border-width: 1px;
    border-style: solid;
    border-color: $zt-primary;
}


.zt-album-wrapper {
	padding: 10px 20px;
}

.zt-content-box-header {
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
    margin: -1px -1px 0;
    padding: 15px;
    border-color: transparent;
}


.zt-content-box-header h3 {
	font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
}

.zt-content-box-header i {
	float: right;
	font-size: 18px;
	margin-left: 10px;
}

.zt-content-box-wrapper {
	min-height: 40px;
	border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    line-height: 1.6em;
    padding: 15px;
}

.zt-card-actions div {
	padding-top: 15px;
}


.zt-album-cover {
	overflow: hidden;
}


.zt-content-box-wrapper img {
	max-width: 100%;
}


.zt-no-cover {
	background: #D3D3D3;
	color: white;
	text-align: center;
}