#photos {
		.cropArea {
	    background: #E4E4E4;
	    overflow: hidden;
	    width:500px;
	    height:350px;
	}
	form .progress {
	    line-height: 15px;
	}
	.progress {
	    display: inline-block;
	    width: 100px;
	    border: 3px groove #CCC;
	}
	.progress div {
	    font-size: smaller;
	    background: orange;
	    width: 0;
	}
	.well {
		color: $colorD;
	}
}


#userPhotos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	// align-content: space-around;
}


#userPhotos div {
	width: 300px;
	height: 200px;
	margin: 5px;
}

#userPhotos div img {
	width: 100%;
}


#userPhotos div img:hover {
	opacity: 0.5;

}




