<div ng-hide="photosGot">
	<md-button ng-click="addPhotos()" class="md-primary">Upload</md-button>
	<md-button ng-click="fetchAll()" class="md-primary">Get Photos</md-button>
	<md-button ng-click="getAlbum()" class="md-primary">Get Album</md-button>
	<md-button ng-click="getAlbums()" class="md-primary">Get Albums</md-button>
	<md-button ng-click="saveAlbum()" class="md-primary">Save</md-button>



</div>
<div ng-hide="photosGot">
<md-button ng-click="createAlbum()" class="md-primary">Create Album</md-button>
<input type="text" ng-model="albumName" name="albumName"/>
</div>




<div id="galleryContainer">
	<photo-edit ng-repeat="photo in photos" photo="photo"></photo-edit>
</div>
