<md-content ng-cloak>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab ng-repeat="album in albums" label="{{album.title}}">
			<md-content  class="md-padding" layout-xs="column" layout="row">
				<div id="galleryContainer">
					<div id="imageThumbs">

					<div id="imageBox" class="md-whiteframe-3dp" ng-repeat="photo in album.photos">
							<img ng-src="{{photo.src}}" ng-click="addToAlbum(photo)" alt="">
						</div>

					</div>
				</div>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>


<!-- <md-content ng-cloak>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab ng-repeat="album in albums" label="{{album.title}}">
			<md-content  class="md-padding" layout-xs="column" layout="row">
				<div id="galleryContainer">
					<photo-edit ng-repeat="photo in photos" photo="photo"></photo-edit>
				</div>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content> -->